
		body {background-color: lightgrey;}
		td{background-color: blue;}
		h1{color: red;
			text-align: center;
			font-size: 400%;
			font-family: fantacy;
			background-color:lightgreen;
			text-shadow:4px 4px black;
		}
		img{height: 200px;
			width: 200px;
			box-shadow: 2px 2px black;


		}
		div{
			text-align: center;
		}